/*Global Styles */
:root{
    --green: rgb(0, 48, 32);
    --olivegreen: rgb(0, 92, 75);
    --primaryfont: "circle", sans-serif;
    --secondaryfont: "Rubik", sans-serif;
}

body{
    font-family: var(--primaryfont);
    line-height: 1.5;
    color: #1e1e1e;
    letter-spacing: 0.02rem;
}

h2 {
  font-size: clamp(1.6rem, 2vw, 2rem);
  font-weight: 500;
  font-family: var(--secondaryfont);
  color: var(--green);
}

.site-footer {
    color: #272727;
    text-align: center;
    margin-bottom: 3em;
    letter-spacing: 0.03rem;
}

/*Utility Classes*/
.button{
    padding: 0.8rem 1.6rem;
    background-color: rgb(255, 255, 255,0.4);
    color: black;
    border-radius: 2em;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
    letter-spacing: 0.03rem;
}


/* Header Styles */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    position: absolute;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0); /*transparent bg*/
        transition: background-color 0.6s ease, box-shadow 0.6s ease, color 0.6s ease;
}

/*hiding h1*/
.site-header_logo h1 {
    position: absolute; /* Remove it from the document flow */
    width: 1px; /* Minimize its size */
    height: 1px; /* Minimize its size */
    overflow: hidden; /* Prevent content overflow */
    clip: rect(0, 0, 0, 0); /* Clip the element */
    white-space: nowrap; /* Prevent wrapping */
}
/*logo*/
.site-header_logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.site-header_logo img{
    height: 1.1em; /* Adjust logo size */
    display: block;

}

/*Links in the center*/
.site-header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-header_nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 3rem; /* Space between navigation items */
    margin: 0;
    padding: 0;
}

.site-header_nav a {
    position: relative;
    text-decoration: none;
    color: #4e4e4e; /* Text color */
    font-weight:500;
    transition: color 0.3s ease;
}

.site-header_nav a:hover {
    color: var(--olivegreen); /* Hover effect */
    font-weight: 550;
}

.site-header_nav a::after { /*nav bar unerline*/
    content: ''; /*underline*/
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0; /* Start with no width */
    height: 2px;
    background-color: var(--olivegreen);
    transition: width 0.3 ease;
}

.site-header_nav a:hover::after {
    width: 100%; /*expand the underline on hover*/
}

/* Hamburger menu styles */
.hamburger-menu {
    display: none; /* Hidden by default */
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--green);
}

/*when user scrolls*/
.site-header.scrolled {
    background-color: rgba(255, 255, 255, 0.8); /*transparent bg*/
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0,0,0,0,06);
}

/*nav button -> download link*/
.site-header-nav_cta {
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cta-button {
  padding: 0.8rem 1.6rem;
  background-color: rgb(255, 255, 255,0.1);
  border: 1px solid var(--olivegreen);
  color: var(--green);
  border-radius: 2em;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 0.03rem;
}

.cta-button:hover {
  background: var(--olivegreen);
  opacity: 0.9;
  color: #eee;
  font-weight: 550;
  transition: 0.3s;
}

/*HOME*/

/*hero section*/
.hero{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url('/images/scenic-view-forest-against-sky.jpg') center/cover no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;   
    padding: 0;
    margin-top: 0;
}

/*text*/
.hero-content {
    position: absolute;
    top: 54vh;
    text-align: left;
    max-width: 35vw;
    margin: auto 4rem;
    transition: 0.3s;
}

.hero-content h2 {
  font-size: 3rem;
  line-height: 3.2rem;
  font-family: var(--secondaryfont);
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--green);
  letter-spacing: 0.1rem；
}

.hero-content p {
  font-size: 1.1rem;
  font-family: var(--secondaryfont);
  line-height: 1.6rem;
  margin: 1rem 0 2.5rem;
}

/*Hero banner button -> download link*/
.hero-button {
  padding: 1rem 3rem;
  font-size: 1rem;
  background-color: rgb(255, 255, 255,0.2);
  border: 1px solid rgb(255, 255, 255,0.4);
  box-shadow: 0 2px 2px rgba(139, 139, 139, 0.1);
  color: var(--green);
  border-radius: 2em;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.hero-button:hover {
  background-color: rgb(255, 255, 255,0.5);
  font-weight: 650;
  transition: 0.3s;
}

/*About Section*/
.about{
    margin: 8rem auto;
    display: flex;
    justify-content:space-between;
    align-items:flex-start;
    text-align: left;
}

/*text*/
.about-title{
    width: 100%;
    margin-left: 8rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--secondaryfont);
    color: var(--green);
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-right: 8rem;
}

.about-content p{
    font-size: 1.2rem;
    color: #1e1e1e
}

/*About Link -> Candles Products Page*/
.about-content a {
    text-decoration: none;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--green);
    border-bottom: 1.5px solid var(--olivegreen); /*underline style*/
    width: max-content; /*keep the underline width as same as the content*/
    padding-bottom: 2px; /*underline padding*/
    transition: transform 0.3s; /*hover animation*/
    transform: scale(1); /*hover animation-before*/

    &::after { /*arrow sign*/
        content: '→';
        margin-left: 8px;
        color: var(--olivegreen);
        font-size: 1.2em;
        transition: transform 0.3s; /*hover animation*/
        transform: rotate(0deg) scale(1); /*hover animation-before*/
        display: inline-block;
    }

    &:hover {
        border-bottom-color: var(--green);
        font-weight: 550;
        transform: scale(1.02); /*hover animation-after*/
    }

    &:hover::after {
        font-weight: 550;
        transform: rotate(-45deg) scale(1.02); /*hover animation-after*/
    }
}

/*Features*/
.feature {
    position: relative;
    background: url('/images/calm-woman-meditating-nature.jpg')center/cover no-repeat;
    height: 85vh;
    width: 100%;
}

.feature_title {
    position: absolute;
    left: 4rem;
    top: 15rem;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
}

/*feature-card*/
.feature_list {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    text-align: left;
    color: #fff;
    margin: 0 4rem;
    bottom: 4rem;
    gap: 1.2rem;
}

.feature_item {
    width: 22vw;
    min-height: 32vh;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0px 20px 0px 20px;
    padding: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}
/*card-text*/
.feature_item h3 {
    font-size: 2rem;
    padding: .5rem;
    font-weight: 600;
}

.feature_item h4 {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
}

.feature_item p {
    font-size: 1rem;
    font-weight: 500;
}

/*Blog Gallery*/
.blog-gallery {
    max-width: 100vw;
    margin: 10rem 10rem 4rem;
}

.blog-gallery-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--green);
    margin-bottom: 5rem;
}

.blog-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.blog-card {
    background-color: none;
    border-radius: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    min-height: 35vh;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card-image {
    width: 100%;
    height: 250px;         
    object-fit: cover;       
    border-radius: 10px 10px 0 0;
    margin-bottom: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
}

.blog-card-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.blog-card-date-box {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 1rem;
}

.blog-card-date-box p {
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: .2rem;
    padding: .5rem 1rem;
    border: 1px solid var(--olivegreen);
    border-radius: 20px;
    color: var(--olivegreen);
}

.blog-card-content a {
    text-decoration: none;
}

.blog-card-content-title h3{
    text-decoration: none;
    color: var(--green);
    margin-bottom: .5rem;
}
.blog-card-content-des {
    display: -webkit-box; /* Enable the flex-like behavior for text */
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical; /* Set the box orientation to vertical */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) for overflow */
    margin-bottom: 2rem;
}

.read-more-button{
    text-decoration: none;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--green);
    border-bottom: 1.5px solid var(--olivegreen); /*underline style*/
    width: max-content; /*keep the underline width as same as the content*/
    padding-bottom: 2px; /*underline padding*/
    transition: transform 0.3s; /*hover animation*/
    transform: scale(1); /*hover animation-before*/

    &::after { /*arrow sign*/
        content: '→';
        margin-left: 8px;
        color: var(--olivegreen);
        font-size: 1.2em;
        transition: transform 1s margin-left 1s ease; /*hover animation*/
        transform: rotate(0deg) scale(1); /*hover animation-before*/
        display: inline-block;
    }

    &:hover {
        border-bottom-color: var(--green);
        width: 100%;
        font-weight: 500;
        transform: scale(1.02); /*hover animation-after*/
    }

    &:hover::after {
        font-weight: 500;
        margin-left: 11rem;
        transform: rotate(-45deg) scale(1.02); /*hover animation-after*/
    }
}

/* FAQ Section */
.faq {
    margin: 6rem 4rem 8rem;
}

.faq-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--green);
    margin-bottom: 5rem;
    text-align: center;
}

.faq-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*style for faq section*/
.faq-item {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1.2rem;
}

/*faq question*/
.faq-question {
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background: none;
    border: none;
    padding: 0;
    width: 100%;
    text-align: left;
}

.faq-question:hover {
    color: var(--olivegreen);
}

/*toggle-icon style*/
.faq-toggle-icon {
    font-size: 2.5rem;
    color: var(--green);
    margin-left: auto; 
    transition: transform 0.3s ease;
    display: inline-block;
    transform-origin: center center;
    line-height:0;
    vertical-align: middle;
}

.faq-toggle-icon:hover {
    color: var(--olivegreen);

}


/*faq-hidden-asnwers*/
.faq-ans {
    font-size: 1.3rem;
    color: #111111;
    margin-top: 0.7rem;
    line-height: 1.6;
    display: none;
}

/*active style*/
.faq-item.active .faq-question {
    color: var(--olivegreen);
}

.faq-item.active .faq-toggle-icon {
    transform: scaleY(-1);
    color: var(--olivegreen);
}

.faq-item.active .faq-ans {
    display: block;
}

/*BLOG*/
/* Grid Style*/
.blog-post{
    display: grid;
    grid-template-areas:
    "header sidebar"
    "main sidebar"
    "footer footer";
    grid-template-columns: 3fr 1fr;
    gap: 1.5rem;
    max-width: 100vw;
    margin: 15vh 6rem;
    padding: 4rem 1rem;
}

.blog-post-layout-top {
    grid-area: header;
    text-align: left;
    padding-bottom: 2rem;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
    color: #222;
    line-height: 1.75;
    margin-right: 4rem;
}

.blog-post-layout-body {
    grid-area: main;
    margin-right: 4rem;
}

.blog-post-layout-sidebar{
    grid-area: sidebar;
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
}

.blog-post-layout-cta{
    grid-area: footer;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--olivegreen);
    padding: 4rem;
}

/*Blog Post Style*/

.date-box {
    display: flex;
    justify-content: left;
    margin-bottom: 1.5rem;
}

.date-box p {
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: .2rem;
    padding: .5rem 1.5rem;
    border: 1px solid var(--olivegreen);
    border-radius: 20px;
    color: var(--olivegreen);
}

.blog-post-title {
    font-size: 2rem;
    letter-spacing: .1rem;
    font-weight: 600;
    font-family: var(--secondaryfont);
}

.blog-post-layout-body p {
    font-size: 1.2rem;
    text-align: justify;
    position: relative;
    padding-bottom: 1.2rem;
}

.blog-post-layout-body h3 {
    font-size: 1.4rem;
    padding-bottom: .8rem;
}

/*side bar style*/
.blog-post-layout-sidebar h3 {
    font-size: 1.3rem;
    padding: 2rem 1rem;
}

.blog-post-layout-sidebar ul{
    list-style: none;
    padding: 2rem 1rem;
    margin: 0;
}

.blog-post-layout-sidebar li {
    margin-bottom: 5rem;
}

.blog-post-layout-sidebar a{
    text-decoration: none;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--green);
    border-bottom: 1.5px solid var(--olivegreen); /*underline style*/
    padding-bottom: 2px; /*underline padding*/
    transition: transform 0.3s; /*hover animation*/
    transform: scale(1); /*hover animation-before*/

    &::after { /*arrow sign*/
        content: '→';
        margin-left: 40%;
        color: var(--olivegreen);
        font-size: 1.2em;
        transition: transform 0.3s; /*hover animation*/
        transform: rotate(0deg) scale(1); /*hover animation-before*/
        display: inline-block;
    }

    &:hover {
        border-bottom-color: var(--green);
        font-weight: 550;
        transform: scale(1.02); /*hover animation-after*/
    }

    &:hover::after {
        font-weight: 550;
        transform: rotate(-45deg) scale(1.02); /*hover animation-after*/
    }
}

/*footer*/
.blog-post-layout-cta p {
    font-size: 1.5rem;
    font-family: var(--secondaryfont);
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 2.5rem;
}

.blog-post-layout-cta a {
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    border: 1px solid #fff;
    background: rgba(255, 255, 255,0);
    box-shadow: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: #fff;
}

.blog-post-layout-cta a:hover {
    background: rgba(255, 255, 255);
    color: var(--olivegreen);
    font-weight: 550;
}

/*PHone*/
@media (max-width: 600px) {
        /*Nav bar*/
        .site-header_nav {
            display: none; /* Hide navigation links before active */
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(4px);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            z-index: 10;
            padding:1rem;
        }

        .site-header_nav ul {
            text-align: center;
            flex-direction: column;
            gap: 3rem;
            padding: 2rem;
        }

        .site-header_nav.active { /*showing the nav link inside the menu when active*/
            display: flex;
        }

        .hamburger-menu {
            display: block; /* Show hamburger menu */
        }

        .site-header_logo {
            flex: 1; /*make logo expand and fill up the spaces*/

        }

        /* Hide CTA button on mobile */
        .site-header-nav_cta {
            display: none;
        }


        /***HOME***/
        /*hero section*/
        .hero-content {
            margin: auto 4rem;
            text-align: center; 
            color: #fff;
            max-width: 100vw;
        }

        .hero-content h2{
            color: #fff;
        }

        .hero-content p {
            font-size: 1rem;
        }

        .hero-button {
            color: #fff;
        }
        
        /*About*/
        .about {
            flex-direction: column;
            margin: 4rem 4rem;
        }

        .about-title {
            text-align: center;
            margin: 0;
        }

        .about-content {
            align-items: center;
            text-align: center;
            margin: 0;
            padding: 1rem;
        }
        .about-content p {
            font-size: 1rem;
        }

        .about-content a {
            font-size: 1rem;
        }

        /*Features Section*/
        .feature {
            text-align: center;
            height: 100vh;
        }

        .feature_title {
            text-align: center;
            top: 0;
            left: 0;
            width: 100%;
            margin: 4rem auto;
            padding: 0 6rem;
            color: var(--green);
            font-size: 2rem;
        }


        .feature_list {
            flex-direction: column;
            gap: 1.5rem;
            bottom: 4rem;
        }

        .feature_item {
            width: 100%;
            min-height: 15vh;
        }

        .feature_item h3 {
            font-size: 1.5rem; /* Adjust heading size */
            padding: .2rem;
        }

        .feature_item h4 {
            font-size: 1.2rem; /* Adjust subheading size */
            padding-bottom: .2rem;
        }

        .feature_item p {
            font-size: .8rem; /* Adjust paragraph size */
            padding-bottom: .5rem;
        }


        /*Blog Gallery Section*/

        .blog-gallery {
            min-width: 80vw;
            padding:0;
            margin: 5rem 3rem;
        }

        .blog-gallery-title {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        .blog-grid {
            grid-template-columns: 1fr; /* Stack blog cards in a single column */
            margin: 0;
            padding: 0;
            gap: 2rem;
        }

        .blog-card-content {
            padding: 1rem 2rem 2rem;
        }

        .blog-card-date-box p{
            font-size: .6rem;
        }

        .blog-card-content-des {
            font-size: .8rem;
        }

        .read-more-button {
            font-size: 0.9rem;
        }

        .faq {
            margin: 4rem 2rem;
        }

        .faq-title {
            font-size: 2rem;
            margin-bottom: 3rem;
        }

        .faq-question {
            font-size: 1rem;
        }

        .faq-toggle-icon {
            font-size: 2rem;
        }

        .faq-ans {
            font-size: .9rem;
        }

        /***Blog***/
        .blog-post{
            grid-template-areas: 
            "header"
            "main"
            "sidebar"
            "footer";
            grid-template-columns: 1fr;
            gap: 2rem;
            padding: 2rem 1rem;
            margin: 2rem;
        }

        .blog-post-layout-top {
            text-align: left;
            margin: 0;
            margin-left: 1rem;
            padding-bottom: 2rem;
        }

        .blog-post-layout-body {
            margin: 0;
            padding: 1rem 1rem 0;
            text-align: left;
        }

        .blog-post-layout-sidebar {
            padding: 1rem;
            margin: 0;
            max-height: 55vh;
        }

        .date-box {
            justify-content: flex-start;
            margin-top: 5rem;
        }

        .date-box p {
            font-size: .7rem;
        }

        .blog-post-title {
            line-height: 3rem;
        }

        .blog-post-layout-body p {
            margin: 0;
            padding: 0;
            text-align: left;
            padding-bottom: 1.5rem;
        }

        .blog-post-layout-body h3 {
            margin: 0;
            padding: 0;
            text-align: left;
            padding-bottom: 1rem;
        }

        .blog-post-layout-sidebar h3 {
            font-size: 1.2rem;
            padding: 1rem 1rem;
        }

        .blog-post-layout-sidebar h3 {
            font-size: 1.3rem;
            padding: 1rem;
        }

        .blog-post-layout-sidebar ul {
            padding: 1rem;
        }

        .blog-post-layout-sidebar li {
            margin-bottom: 3rem;
        }

        .blog-post-layout-sidebar a {
        width: max-content; /*keep the underline width as same as the content*/

        &::after { /*arrow sign*/
            color: var(--olivegreen);
            margin-left: 15rem;
            transition: transform 0.3s; /*hover animation*/
            transform: rotate(0deg) scale(1); /*hover animation-before*/
            display: inline-block;
        }

        &:hover {
            transform: scale(1.02); /*hover animation-after*/
        }

        &:hover::after {
            font-weight: 500;
            transform: rotate(-45deg) scale(1.02); /*hover animation-after*/
        }
        }
    }

    /*tablet*/
    @media (min-width: 601px) and (max-width: 1024px) {

    /* Navigation Bar */
    .site-header_nav {
        display: none; /* Hide navigation links before active */
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(4px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 10;
        padding:1rem;
    }
    .site-header_nav ul {
        text-align: center;
        flex-direction: column;
        gap: 3rem;
        padding: 2rem;
    }

        .site-header_nav.active { /*showing the nav link inside the menu when active*/
        display: flex;
    }

        .hamburger-menu {
        display: block; /* Show hamburger menu */
    }

        .site-header_logo {
        flex: 1; /*****/
    }

        /* Hide CTA button */
        .site-header-nav_cta {
        display: none;
    }

    /* Hero Section */
    .hero-content {
        text-align: center;
        top: 50%;
        left: 15%;
        max-width: 50vw;
    }

    .hero-content h2 {
        color: #fff;
    }

    .hero-content p {
        font-size: 1rem;
        color: #fff;
    }

    .hero-button {
        color: #fff;
    }

    /* About Section */
    .about {
        flex-direction: column;
        margin: 6rem 6rem; 
    }

    .about-title {
        text-align: center;
        margin-left: 0;
        padding-bottom: 1rem; 
    }

    .about-content {
        align-items: center;
        text-align: center;
        margin: 0; 
    }

    .about-content p {
        font-size: 1rem;
    }

    .about-content a {
        font-size: 1rem;
    }

    /* Features Section */
    .feature {
        text-align: center;
        height: 100vh;
    }

    .feature_title {
        width: 100%;
        text-align: center;
        left: 0;
        top: 0;
        margin: 5rem auto;
        padding: 0 2rem;
        color: var(--green);
        font-size: 2rem;
    }

    .feature_list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 6rem;
        gap: 1rem;
        bottom: 3rem;
    }

    .feature_item {
        width: 100%;
        min-height: 22vh;
    }

    .feature_item h3 {
        padding: .1rem;
    }

    .feature_item h4 {
        padding-bottom: .1rem;
    }

    .feature_item p {
        padding-bottom: .3rem;
        }

    /* Blog Gallery Section */
    .blog-gallery {
        margin: 5rem 2rem; 
    }

    .blog-gallery-title {
        font-size: 2rem;
        margin-bottom: 3rem; 
    }

    .blog-grid {
        grid-template-columns: repeat(2, 1fr); /* Display blog cards in two columns */
        gap: 2rem; 
    }

    .blog-card-content {
        padding: 1rem; 
    }

    .blog-card-date-box p {
        font-size: 0.8rem;
    }

    .blog-card-content-des {
        font-size: 0.9rem; 
    }

    .read-more-button {
        font-size: 0.9rem; 
    }

    /* Blog Post Layout */
    .blog-post {
        grid-template-areas:
            "header"
            "main"
            "sidebar"
            "footer";
        grid-template-columns: 1fr; 
        gap: 2rem; 
        padding: 2rem; 
    }

    .blog-post-layout-top {
        text-align: left; 
        margin: 0; 
        padding-bottom: 2rem;
    }

    .blog-post-layout-body {
        margin: 0;
        padding: 1rem;
    }

    .blog-post-layout-sidebar {
        padding: 1rem;
        margin: 0;
    }

    .blog-post-layout-cta {
        text-align: center; 
        margin: 2rem 0;
        padding: 2rem;
    }
        .faq {
        margin: 4rem 2rem;
    }

    .faq-title {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .faq-question {
        font-size: 1.3rem;
    }

    .faq-toggle-icon {
        font-size: 2rem;
    }

    .faq-ans {
        font-size: 1.2rem;
    }
}