/* {
    border: 1px solid red
} */

/* Global Style */

.site-header {
    display: flex; /* Use flexbox for layout the logo & nav in a row */
    align-items: center; /* Vertically center the items */
    background-color: rgba(0, 47, 48, 0.9);
    padding: 30px 40px;
    justify-content: space-between; /* Space out the logo and nav to be on opposite end */
    position: fixed; /*Fix the header at the top when scrolling*/
     top: 0; /* Position the header at the top of the page */
    width: 100%; /* Makes the header stretch the full width to fit browser window. */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); 
    z-index: 1000; /* Ensure the header is above other content */
}

.logo{
    height: 5em;
    display: block; /* Display the logo as a block element */
}

.nav ul {
    display: flex;/* Use flexbox for a row layout */
    list-style: none; /* Remove default list styling */
    margin-right: 4em; /* Add margin to the right for spacing */
    padding: 0; /* Remove default padding */
}

.nav ul li {
    margin-right: 50px;/* Add space between each list item */
}

.nav ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none; /* Removes the default underline */
    font-family: Urbanist, sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}

.nav ul li a:hover {
    color: #60ffc5;
}


body{
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    padding-top: 140px; /* Add padding to the top to prevent content from being hidden by the fixed header */
    font-family: Urbanist, sans-serif;
    background: #151b1a;
}

.site-footer {
    color: #fff;
    text-align: center;
    margin-bottom: 3em;
}

/* HOME PAGE */

/* Hero Section */

.hero{
    position: relative; /* Create a containing block to allow absolute positioning of child elements */
    width: 100%;
    height: 100vh; /* Full viewport height */
    min-height: 400px;
    overflow: hidden;
    background-image: url("/images/tenet-01.jpg");
    background-size: cover;            /* Fill the entire container */
    background-position: top center;   /* Anchor the top of the image */
    background-repeat: no-repeat;      /* Prevent tiling */
}

.hero-overlay {
    position:absolute; /* Position the overlay absolutely within the hero section */
    bottom: 0; left: 0; /* Position the overlay at the bottom left */
    width: 100%; /* Makes the overlay span the entire width */
    color: rgb(206, 255, 244);
    background: linear-gradient(to top, rgba(2, 23, 17, 0.9)70%, rgba(0, 0, 0, 0));
    z-index: 2; /* Ensure the overlay is above the background image */
    text-align: center; /* Center the text within the overlay */
    padding: 4em 2em 1em 2em;
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.hero-title {
    font-size: 2.2em; 
    font-weight: 900;
    letter-spacing: 4px;
    text-align: left;
    margin-bottom: 0.3em;
}

.hero-text {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
}

/* Director Card */

.director-card {
    display: flex; /* Use flexbox for layout, puttung director card flex in a row */
    padding: 2em 1.5em;
}

.director-card-img {
    width: 400px;
    object-fit: cover;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.30);
    border-radius: 0.3em 0 0 0.3em;
}

.director-card-text {
    background: #09504b;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.30);
    padding:  2em;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
     border-radius: 0 0.3em 0.3em 0;
}

.director-card-text h2 {
    font-size: 1.4em;
    font-weight: 900;
    letter-spacing: 3px;

}

.director-card-text p {
    font-size: 0.9em;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 400;
}

/* Production Section*/
.production{
    padding: 1em 1.5em;
}

.production h2 {
    font-size: 1.4em;
    font-weight: 900;
    letter-spacing: 3px;
    color: #fff;
}

.production p {
    font-size: 0.9em;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 0 2em 0;
    color: #fff;
}

.production-img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0 8px 32px rgba(0,0,0,0.30);
    border-radius: 0.3em;
}

/* Award Section*/
.award {
    box-sizing: border-box;
    padding: 1em 1.5em;
    color: #fff;
}

.award h2 {
    font-size: 1.4em;
    font-weight: 900;
    letter-spacing: 3px;
}
.award p {
    font-size: 0.9em;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 0 2em 0;
}
.award-card-row {
    display: flex; /* Use flexbox to make cards in a row */
    flex-wrap: wrap; /* Allow cards to wrap to the next line if necessary */
    gap: 1.5em;
    width: 100%;
    box-sizing: border-box;
    padding-right: 6em;
}

.award-card{
    background: hsla(177, 100%, 27%, 0.8);
    border-radius: 10px;
    padding: 1.5em 2em;
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    color: #fff;
    min-width: 290px; /* Minimum width for each card */
    padding-left: 0; margin-left: 0; /* Remove left padding and margin */
}

.award-card h3 {
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0.2em;
    padding-left: 2.5em;
    color: #ffffff;
}

.award-card li {
    font-size: 0.8em;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 400;
    color: #c4fdf9;
    list-style: none; /* Remove default list styling */
    line-height: 2;

}


/* REVIEW PAGE */
/* Top Section*/

.review {
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    margin-left: 2em;
    gap: 2em;
}

.review-top-section h1 {
    font-size: 2.5em;
    font-weight: 800;
    letter-spacing: 3px;
    margin-bottom: 0.5px;
    color: rgb(255, 255, 255);
    margin-top: 1em;
}
.review-top-section p {
    font-size: 1em;
    display: inline-block;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 1px;
    gap:2em
}

.movie-details{
    display: flex;
    flex-direction: row;
    justify-self: left;
    margin-top: 1em;
    gap: 1em;
}

.movie-details-box {
    display: flex;
    align-items: center;
    background: #009e89;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: left;
    padding: 0em 1.5em;
    margin-top: 0; margin-bottom: 1em;
    width: auto; 
    border-radius: 25px;
}

.movie-details-box label {
    font-size: 0.8em;
    font-weight: 600;
    color: #fff;
    margin-right: 1em;
    letter-spacing: 1px;
}

.movie-details-box p {
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: 400;
    color: #cdffaa;
}

/* Article */

.review-content-intro{
    display: flex; /* Use flexbox for put the img and text in a row */
    align-items: center; /* Vertically center the content */
    gap: 2em;
    margin: 1em 2em 0 2em;
    min-height: 20vh;
    color: #fff;
    background: #0e4b39;
    box-shadow: 0 8px 32px rgba(0,0,0,0.30);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1.5em 2em;
}
.review-content-img{
    width: 150px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 50%;
}

.review-content-intro p{
    font-size: 0.9em;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 400;
    color: #fff;
}

/* Review Content Text */

.review-content-text {
    padding-top: 0.3em;
    margin: 1em 2em 0 2em;
}
.review-content-text h2 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0.3em;
    color: #88fff3;
}
.review-content-text p {
    font-size: 0.9em;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 400;
    color: #fff;
}

/* Contact Form */

.feedback-form {
    display: flex;
    flex-direction: column; /* Stack form elements vertically */
    max-width: 600px;
    margin: 0 2em 0 2em;
    padding: 2em;
    background: #182424;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #ffffff;
    box-sizing: border-box;
}

.feedback-form h3 {
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 1px;
    color: #60ffc5;
}

.feedback-form label {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #88fff3;
}

.feedback-form input{
    height: 3em;
    padding: 0.8em;
    font-size: 1em;
    border: 1px solid #88fff3;
    border-radius: 5px;
    background: #151b1a;
    color: #fff;
    box-sizing: border-box;
}

.feedback-form textarea {
    height: 10em;
    padding: 0.8em;
    font-size: 1em;
    border: 1px solid #88fff3;
    border-radius: 5px;
    background: #151b1a;
    color: #fff;
    box-sizing: border-box;
}

.feedback-form input:focus,
.feedback-form textarea:focus { /* editing focus state for input and textarea */
    outline: none; /* Remove default outline */
    border-color: #60ffc5; /* Change border color on focus */
    box-shadow: 0 0 8px rgba(96, 255, 197, 0.5); /* Add a subtle glow effect */
}

.feedback-form button {
    padding: 0.8em 1.5em;
    font-size: 1em;
    font-weight: 600;
    color:  #88fff3;
    background: #151b1a;
    border: 1px solid  #88fff3;
    border-radius: 5px;
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-top: 1em; /* Add space above the button */
}

.feedback-form button:hover {
    background: #88fff3;
    color: #151b1a;
}

/* CAST PAGE */
.cast-title {
    font-size: 1.4em;
    font-weight: 900;
    letter-spacing: 3px;
    color: #fff;
    margin: 2em 2em;
}

.cast-card{
    display: flex; /* put the image and text in a row */
    gap: 3em; /* Space between image and text */
    background: #1f2d2b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px; 
    padding: 1em; 
    margin: 1em 0; 
    color: #fff;
    box-sizing: border-box;
}

.cast-card img {
    width: 500px; /* Fixed width for the image */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cast-card-content {
    display: flex; /* Align <b> and <p> horizontally */
    flex-direction: column; /* Stack <b> and <p> vertically */
    gap: 0.2em; /* Space between <b> and <p> */
}

.cast-card b {
    font-size: 1.2em;
    font-weight: 700;
    color: #80fccf;
}

.cast-card p {
    font-size: 0.9em;
    line-height: 1.8;
    font-weight: 400;
    color: #ffffff;
}